/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #faebd7;
}
.app-header {
  background-color: #faebd7;
}
.app-title {
  text-align: left;
  float: left;
  font-weight: bold;
  font-size: large;
}

.header-link {
  text-align: right;
  background-color: #faebd7;
}
.link-area {
  background-color: #faebd7;
}

.page-title {
  text-align: center;
}

/* home */
.home {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

/* index */
.word-card {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 80%;
}

.edit-card {
  text-align: right;
}
.word-content {
  margin: 0 auto;
  text-align: left;
  width: 60%;
}

.word-qa {
  padding-top: 5px;
  padding-bottom: 10px;
}

.memorize-icon {
  width: 10%;
  height: auto;
}

/* new, edit form*/

.word-form {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

.text-field {
  padding-top: 10px;
  padding-bottom: 10px;
}
